---
Checks: "-*,\
bugprone-*,\
cert-*,\
-cert-dcl16-c,\
clang-analyzer-*,\
google-readability-casting,\
hicpp-*,\
-hicpp-deprecated-headers,\
-hicpp-use-override,\
-hicpp-use-emplace,\
-hicpp-use-auto,\
-hicpp-uppercase-literal-suffix,\
-hicpp-uppercase-literal-suffix,\
-hicpp-member-init,\
-hicpp-avoid-c-arrays,\
-hicpp-signed-bitwise,\
misc-*,\
-misc-non-private-member-variables-in-classes,\
modernize-*,\
-modernize-use-trailing-return-type,\
-modernize-avoid-c-arrays,\
performance-*,\
readability-*,\
-readability-uppercase-literal-suffix,\
"
...

